.blog-entry {
  // Пока не требуется
}

.blog-entry__link {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    .blog-entry__image {
      transform: scale(1.05);
    }

    .blog-entry__title {
      color: $cl-blue;
    }
  }
}

.blog-entry__image-wrapper {
  margin: 0;
  margin-bottom: 35px;
  overflow: hidden;
}

.blog-entry__image {
  display: block;
  transition: 0.5s linear;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.blog-entry__title {
  @include montserrat;

  margin: 0;
  margin-bottom: 5px;

  color: #6f6f6e;
  font-size: 20px;
  font-weight: normal;
}

.blog-entry__data {
  margin: 0;
  margin-bottom: 15px;

  color: $cl-blue;
  font-size: 15px;
  line-height: 15px;
}

.blog-entry__separator {
  // Пока не требуется
}

.blog-entry__author-name {
}

.blog-entry__intro {
  margin: 0;

  color: #6a6a6a;
}

@media (max-width: 600px) {
  .blog-entry__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-entry__image-wrapper {
    max-width: 350px;
  }
}
