.contacts-bottom {
  @include reset-list;
}

.contacts-bottom__item {
  display: flex;
  margin-bottom: 45px;
}

.contacts-bottom__icon-wrapper {
  @include size(43px, 40px);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 35px;
  margin-top: 5px;
}

.contacts-bottom__icon {
  // Пока не требуется
}

.contacts-bottom__content {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
}

.contacts-bottom__link {
  // Пока не требуется
}

@media (max-width: 850px) {
  .contacts-bottom {
    display: flex;
  }

  .contacts-bottom__item {
    width: 33.333%;
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts-bottom {
    flex-direction: column;
    align-items: center;
  }

  .contacts-bottom__item {
    width: 100%;
    max-width: 300px;
    padding-right: 0;
  }
}
