.contacts-top {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  font-size: 15px;
  line-height: 22px;
}

.contacts-top__item {
  display: flex;
  align-items: center;

  &--time,
  &--mail {
    margin-right: 20px;
  }
}

.contacts-top__icon-wrapper {
  @include size(50px);

  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  color: $cl-white;

  background-color: $cl-blue;
  border-radius: 50%;
}

.contacts-top__text {
  display: flex;
  flex-direction: column;
}

.contacts-top__first-line {
  margin: 0;

  font-weight: bold;
  text-transform: uppercase;
}

.contacts-top__bottom-line {
  margin: 0;
}

.contacts-top__link {
  // Не требуется
}

// Desktop min breakpoint

@media (max-width: $desktop-width-min) {
  .contacts-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-end;

    height: 50px;
  }

  .contacts-top__item {
    margin-bottom: 0;
  }

  .contacts-top__item--phone .contacts-top__first-line,
  .contacts-top__item--mail .contacts-top__first-line {
    display: none;
  }

  .contacts-top__item--time {
    order: 3;
    margin-right: 0;
    margin-left: 30px;
  }

  .contacts-top__item--mail svg {
    width: 15px;
    height: 15px;
  }

  .contacts-top__item--phone svg {
    width: 15px;
    height: 15px;
  }

  .contacts-top__icon-wrapper {
    @include size(auto);

    background-color: unset;
  }

  .contacts-top__icon {
    color: $cl-blue;
  }
}
