.footer-form {
  textarea {
    height: 95px;
    resize: vertical;
  }
}

.footer-form__text-input {
  width: 100%;
  padding-bottom: 25px;
  margin-bottom: 25px;

  font-size: 16px;
  line-height: normal;

  background-color: rgba(#000, 0.01);
  border: 0;
  border-bottom: 1px solid #5f5f5f;

  &:focus {
    color: $cl-white;

    outline: none;
    border-color: $cl-white;
  }
}
