.main-site-links {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  color: $cl-lightgray;
  font-family: "NexaBold", "Arial Black", sans-serif;
  font-size: 20px;
}

.main-site-links__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.main-site-links__link {
  // Пока не требуется
}

.main-site-links__link--active {
  color: $cl-black;
}


@media (max-width: $tablet-width) {
  .main-site-links {
    align-items: center;

    font-size: 24px;
  }

  .main-site-links__item {
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
