.slider {
  position: relative;
  padding: 0 30px;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__pagination {
  width: 300px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__bullet {
  @include size(30px, 4px);
  display: block;
  padding: 0;
  margin-right: 5px;

  border: 0;
  background: none;
  background-color: #e0e0e0;

  &:last-child {
    margin-right: 0;
  }
}

.slider__bullet--active {
  background-color: $cl-blue;
}

.slider__nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);

  display: block;
  padding: 0;

  background: none;
  border: 0;
}

.slider__nav-icon {
  fill: $cl-blue;
}

.slider__nav--disabled {
  opacity: 0.3;
}

.slider__nav--prev {
  left: 10px;
}

.slider__nav--next {
  right: 10px;
}

._slider-lock .slider__nav,
._slider-lock .slider__pagination {
  display: none;
}
