*,
*::before,
*::after {
  box-sizing: inherit;
}

/* stylelint-disable */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* stylelint-enable */

html {
  box-sizing: border-box;
}

body {
  min-height: 320px;

  color: $g-text-color;
  font-family: $g-font;
  font-size: $g-font-size;
  line-height: $g-line-height;

  background-color: $g-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}
