// Breakpoints

// Color pallete
$cl-white: #fff;
$cl-blue: #1a9bdc;
$cl-lightgray: #6c6c6c;
$cl-darkgray: #474747;
$cl-black: #191919;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// General document variables
$g-bg-color: $cl-white;
$g-text-color: #6a6a6a;
$g-font: "OpenSans", "Arial", sans-serif;
$g-font-size: 16px;
$g-line-height: 30px;

