// Breakpoints
$desktop-width-max: 1200px;
$desktop-width-mid: 1100px;
$desktop-width-min: 1000px;
$tablet-width: 750px;
$mobile-width: 500px;

// Color pallete
$cl-white: #fff;
$cl-blue: #1a9bdc;
$cl-lightgray: #6c6c6c;
$cl-text: #6a6a6a;
$cl-darkgray: #474747;
$cl-black: #191919;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// General document variables
$g-bg-color: $cl-white;
$g-text-color: $cl-text;
$g-font: "OpenSans", "Arial", sans-serif;
$g-font-size: 16px;
$g-line-height: 30px;
