.custom-list {
  @include reset-list;

  font-size: 16px;
  line-height: 16px;

  li {
    position: relative;

    padding-left: 30px;
  }

  li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    @include size(8px, 12px);

    background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%231a9bdc' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    transform: translateY(-50%);
  }

  li:not(:last-child) {
    margin-bottom: 16px;
  }
}
