.menu-btn {
  @include size(40px, 25px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;

  border: 0;
  outline: 0;
  background-color: unset;
}

.menu-btn__line {
  @include size(100%, 4px);

  display: block;

  background-color: $cl-black;

  transition: 0.3s;

  :focus & {
    background-color: $cl-blue;
  }
}

.menu-open {
  .menu-btn__line:nth-of-type(2) {
    width: 80%;

    transform-origin: top right;
    transform: rotate(-45deg);
  }

  .menu-btn__line:nth-of-type(3) {
    opacity: 0;
  }

  .menu-btn__line:nth-of-type(4) {
    width: 80%;
    transform-origin: bottom right;
    transform: rotate(45deg);
  }
}
