.section-title {
  margin: 0;
  margin-bottom: 30px;

  color: $cl-darkgray;
  font-family: "Montseratt", "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 45px;

  @media (max-width: $tablet-width) {
    font-size: 35px;
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
