.advantages {
  // Пока не требуется
}

.advantages__wrapper {
  @include webp-bg("../img/bg/doctor-desktop.png");

  padding-top: 110px;
  padding-bottom: 70px;
  min-height: 855px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 337px 598px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;
}

.advantages__intro {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 10%;

  text-align: center;
}

.advantages__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: calc((100% - 455px) / 2);
  margin-top: 90px;

  &:not(:nth-child(2n + 2)) {
    margin-right: 455px;
  }
}

.advantages__item-heading {
  display: flex;
  align-items: center;
}

.advantages__icon-wrapper {
  @include size(75px);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
  flex-shrink: 0;

  background-color: $cl-blue;
  border-radius: 50%;
}

.advantages__icon {
  fill: $cl-white;
}

.advantages__item-title {
  @include montserrat;

  font-weight: bold;
  font-size: 30px;
  line-height: normal;
}

.advantages__item-content {
  margin: 0;
}

@media (max-width: $desktop-width-mid) {
  .advantages__wrapper {
    padding-top: 80px;
    min-height: 500px;
    padding-bottom: 0;

    background-size: 300px 532px;
  }

  .advantages__intro {
    margin-bottom: 0;
  }

  .advantages__list {
    padding-bottom: 40px;
    padding-top: 40px;
    min-height: 532px;

    background-color: rgba(#fff, 0.7);
  }

  .advantages__item {
    width: calc((100% - 20px) / 2);
    margin-top: 20px;
    margin-bottom: 30px;

    &:not(:nth-child(2n + 2)) {
      margin-right: 20px;
    }
  }

  .advantages__icon-wrapper {
    @include size(45px);
  }

  .advantages__icon {
    @include size(30px);
  }

  .advantages__item-heading {
    justify-content: center;
    margin-bottom: 20px;
  }

  .advantages__item-title {
    margin: 10px 0;
  }

  .advantages__item-content {
    text-align: center;
  }
}

@media (max-width: $tablet-width) {
  .advantages__wrapper {
    @include webp-bg("../img/bg/doctor-mobile.png");

    padding-bottom: 320px;
    background-size: 180px 320px;
  }

  .advantages__intro {
    padding: 0;
  }

  .advantages__item {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;

    &:not(:nth-child(2n + 2)) {
      margin-right: 0;
    }
  }

  .advantages__item-heading {
    flex-direction: column;
    margin-bottom: 0;
  }

  .advantages__item-title {
    font-size: 28px;
  }

  .advantages__icon-wrapper {
    @include size(75px);
    margin-right: 0;
  }

  .advantages__icon {
    @include size(40px);
  }
}
