.blog {
  margin-right: 50px;
}

.blog__intro {
  margin-bottom: 50px;
}

.blog__entries {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.blog__entry {
  width: 50%;

  &:nth-child(odd) {
    padding-right: 20px;
  }

  &:nth-child(even) {
    padding-left: 20px;
  }
}

.blog__link {
  display: block;
  width: 160px;
  margin: auto;
}

@media (max-width: $desktop-width-min) {
  .blog {
    margin-right: 0;
    margin-bottom: 100px;
  }

  .blog__title {
    text-align: center;
  }

  .blog__intro {
    text-align: center;
    padding: 0 10%;
  }
}

@media (max-width: 600px) {
  .blog__entries {
    margin-bottom: 0;
  }

  .blog__entry {
    width: 100%;
    margin-bottom: 40px;

    &:nth-child(odd) {
      padding-right: 0;
    }

    &:nth-child(even) {
      padding-left: 0;
    }
  }
}
