.gallery {
  @include webp-bg("../img/bg/gallery-desktop.jpg");

  padding: 94px 0;

  color: $cl-white;
  text-align: center;

  background-size: cover;
}

.gallery__title {
  color: $cl-white;
}

.gallery__intro {
  padding: 0 40px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}

.gallery__photo {
  width: calc(33.33% - 20px);
  max-height: 209px;

  display: block;
  margin-top: 40px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    transition: 0.2s linear;
    object-fit: cover;
  }

  &:hover img {
    transform: scale(1.02);
  }
}

.gallery__btn,
.gallery__pagination {
  display: none;
}

@media (max-width: $desktop-width-min) {
  .gallery__photo {
    width: calc(50% - 20px);
    max-height: 300px;
  }
}

@media (max-width: $tablet-width) {
  .gallery__intro {
    padding: 0;
    margin-bottom: 40px;
  }

  .gallery__list {
    padding: 0;
  }

  .gallery__photo {
    width: calc(50% - 5px);
    max-height: 300px;
    margin-top: 10px;
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    padding: 50px 0;
  }

  .gallery__wrapper {
    padding: 0;
  }

  .gallery__intro {
    padding: 0 20px;
  }

  .gallery__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .gallery__photo {
    flex-shrink: 0;
    width: 100%;
    // max-width: 350px;
    max-height: 300px;
    margin-top: 10px;
  }

  .gallery__btn {
    display: block;

    .slider__nav-icon {
      fill: #fff;
    }
  }

  .gallery__pagination {
    display: flex;
  }

  .gallery .slider__bullet--active {
    background-color: $cl-black;
  }
}
