.page-header {
  background-color: $cl-white;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $cl-blue;
    }

    &:active {
      color: rgba($cl-text, 0.6);
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
}

.page-header__logo {
  @include size(210px,  42px);

  flex-shrink: 0;
  margin-right: 50px;
}

.page-header__contacts {
  width: 825px;
}

.page-header__menu-btn {
  display: none;
}

.page-header__nav {
  border-top: 2px solid #ececec;
}
