.promo {
  @include webp-bg("../img/bg/bg-promo-desktop.jpg");

  min-height: 640px;
  padding-top: 165px;
  padding-bottom: 165px;

  background-size: cover;
  background-position: center;
}

.promo__content {
  max-width: 650px;
  padding: 0 20px;

  text-align: center;
}

.promo__intro {
  margin: 0;
  margin-bottom: 20px;

  color: #474747;
  font-family: "Montserrat", "Arial Black", sans-serif;
  font-size: 47.69px;
  line-height: normal;
}

.promo__sub-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 60px;

  color: #3f3f3f;
  font-size: 17px;
  line-height: 30px;
}

.promo__link {
  // Пока не требуется
}


@media (max-width: $desktop-width-min) {
  .promo {
    min-height: 200px;
    padding: 80px 0 80px;
  }

  .promo__content {
    max-width: 450px;
    padding: 0;
  }

  .promo__intro {
    font-size: 30px;
  }

  .promo__sub-text {
    padding: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    padding: 40px 0 60px;
  }

  .promo__content {
    max-width: 250px;
    padding: 0;
  }

  .promo__intro {
    font-size: 20px;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    @include webp-bg("../img/bg/bg-promo-mobile.jpg");
  }
}
