.service {
  color: $cl-white;

  background-color: $cl-blue;
  background-image: linear-gradient(to right, #43b1d2, #37c3a8);
}

.service__list {
  @include reset-list;

  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 20px 55px;
  width: 25%;

  text-align: center;
}

.service__icon-wrapper {
  @include size(75px);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  background-color: $cl-white;
  border-radius: 50%;
}

.service__title {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;

  font-family: "Montserrat", "Arial Black", sans-serif;
  font-size: 30px;
  line-height: normal;
}

.service__description {
  margin: 0;
  max-width: 100%;
}

.service__item--treatment {
  background-color: #43b1d2;
}

.service__item--emergency {
  background-color: #3fb6c6;
}

.service__item--staff {
  background-color: #3cbbbb;
}

.service__item--quality {
  background-color: #37c3a8;
}

@media (max-width: $desktop-width-mid) {
  .service__list {
    flex-wrap: wrap;
  }

  .service__item {
    width: 50%;
    padding: 55px 20px 35px;
  }
}

@media (max-width: $tablet-width) {
  .service__item {
    width: 100%;
  }

  .service__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
