.stats {
  @include webp-bg("../img/bg/bg-stats-desktop.jpg");

  padding-top: 150px;
  padding-bottom: 160px;

  color: $cl-white;

  background-color: $cl-blue;
  background-size: cover;
  background-position: center;
}

.stats__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px;
  width: 25%;
}

.stats__icon-wrapper {
  height: 84px;
  margin-bottom: 40px;

  &--top,
  &--lung {
    display: flex;
    align-items: flex-end;
  }

  &--innovative {
    display: flex;
    align-items: center;
  }
}

.stats__icon {
  fill: $cl-white;
}

.stats__number {
  @include montserrat;

  position: relative;

  margin: 0;
  padding-bottom: 36px;
  margin-bottom: 20px;

  font-size: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include size(85px, 6px);

    background-color: $cl-white;
  }
}

.stats__text {
  @include montserrat;

  margin: 0;
  padding: 0 20px;

  font-size: 25px;
  line-height: normal;
  text-align: center;
}

@media (max-width: $desktop-width-min) {
  .stats {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .stats__number {
    padding-bottom: 25px;
    margin-bottom: 20px;

    font-size: 45px;

    &::after {
      @include size(85px, 4px);
    }
  }
}

@media (max-width: $tablet-width) {
  .stats__item {
    width: 50%;
    margin-bottom: 30px;
  }

  .stats__icon-wrapper {
    height: 60px;
    margin-bottom: 20px;

    &--top,
    &--lung {
      display: flex;
      align-items: center;
    }
  }

  .stats__icon {
    @include size(50px);
  }
}

@media (max-width: $mobile-width) {
  .stats__item {
    width: 100%;
  }
}
