.team {
  padding-top: 145px;
  padding-bottom: 130px;

  text-align: center;
}

.team__intro {
  margin-bottom: 45px;
  padding: 0 35px;
}

.team__slider {
  max-width: 1260px;
  margin: 0 auto;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__person {
  margin-top: 40px;
  flex-shrink: 0;
}

@media (max-width: $tablet-width) {
  .team {
    padding: 100px 0;
  }
}

@media (max-width: $mobile-width) {
  .team {
    padding: 60px 0;
  }
}
