.treatment {
  flex: 1 0 425px;
}

.treatment__intro {
  margin-bottom: 50px;
}

@media (max-width: $desktop-width-min) {
  .treatment {
    flex-basis: auto;
  }

  .treatment__title {
    text-align: center;
  }

  .treatment__intro {
    text-align: center;
    padding: 0 10%;
  }

  .treatment__details {
    display: flex;
    flex-wrap: wrap;
  }

  .treatment__details-item {
    width: 100%;
  }
}
